APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:MMRcuGwnNHm8CU1HeJLIYL2aAElyxdWXAWs/00YSpOM=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homeboyz_bpm
DB_USERNAME=root
DB_PASSWORD=embassy8080

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

MPESA_ENV="production"          # or sandbox
MPESA_CONSUMER_KEY="ptXfqHAvAqzqd8YA4zlybufCmfz29JR6"
MPESA_CONSUMER_SECRET="jiauflBsxZep8HPy"
MPESA_BUSINESS_SHORTCODE=6013090
MPESA_TILL_NUMBER=9923233
SAFARICOM_PASSKEY="71a454d5a551d7746546181bae7eafd6e3a5da74b375e1d2f1f3082508aa0b41"
MPESA_CALLBACK_URL=https://bpm.co.ke/api/570aa5d6-f27d-45d4-8b65-2868c0e2f297

BPM_TICKET_AMOUNT=555
